= simple_form_for @entry, html: { class: 'card p-1' } do |f|
  = f.error_notification

  .form-group
    = f.input :title
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.nav-item
      = link_to '#edit', class: 'nav-link active', data: { toggle: 'tab', role: 'tab'  } do
        = fa_icon 'pencil-square-o'
        Edit

    %li.nav-item
      = link_to '#preview', class: 'nav-link js-preview',
                            data: { toggle: 'tab', role: 'tab',
                              'preview-url': polymorphic_path([:preview, :entries]), 'preview-model': 'entry',
                              'preview-input': '#entry_body', 'preview-body': '#entry-preview' } do
        = fa_icon 'eye'
        Preview

  .tab-content
    #edit.tab-pane.active{role: 'tabpanel'}
      = f.input :body, input_html: { rows: 16, class: 'mono' }, label: false
    #preview.tab-pane.active{role: 'tabpanel'}
      #entry-preview.preview

  .clearfix
    .pull-left
      = link_to t('.cancel', :default => t("helpers.links.cancel")), entries_path, class: 'btn btn-default'
      = f.submit class: 'btn btn-primary'
