<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @entry.author_id %>
</p>

<%= render 'chord_body' %>

<% if author_signed_in? %>
  <%= link_to 'Edit', edit_entry_path(@entry) %>
<% end %>
<%= link_to 'Back', entries_path %>
