#header.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    %a.navbar-brand{'href': root_path }
      = ChordBlog
    - if current_user
      %ul.nav.navbar-nav.pull-right
        %li.nav-item.mr-1
          = link_to new_entry_path, class: 'nav-link' do
            = fa_icon 'pencil'
        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{'data-toggle': 'dropdown'}
            = fa_icon 'user'
          %ul.dropdown-menu.dropdown-menu-right
            .dropdown-header= "#{current_user.name}"
            .dropdown-item
            = link_to "Edit Profile", edit_user_registration_path, class: 'dropdown-item'
            = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item text-danger'
